<div class="panel panel-primary">
  <div class="panel-heading">
    Edit Vehicle
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="make">Make</label>
          <input id="make" type="text" class="form-control" ng-model="vehicleDetailCtrl.vehicles.make">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="model">Model</label>
          <input id="model" type="text" class="form-control" ng-model="vehicleDetailCtrl.vehicles.model">
        </div>
      </div>
      <div class="col-xs-6">
      <div class="form-group">
        <label for="year">Year</label>
        <input id="year" type="date" class="form-control" ng-model="vehicleDetailCtrl.vehicles.year">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="color">Color</label>
          <input id="color" type="text" class="form-control" ng-model="vehicleDetailCtrl.vehicles.color.description">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="type">Type</label>
          <input id="type" type="text" class="form-control" ng-model="vehicleDetailCtrl.vehicles.description">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label for="msrp">MSRP</label>
          <input id="msrp" type="text" class="form-control" ng-model="'$' + vehicleDetailCtrl.vehicles.retailPrice">
      </div>
    </div>
    </div>
  </div>
  <div class="panel-footer clearfix">
    <button class="btn btn-success pull-right" ng-click="vehicleDetailCtrl.save()">Save
      <i class="glyphicon glyphicon-save"></i>
    </button>
  </div>
</div>
